.block-hotel-widget {
  padding: 28px;
  padding: 1.75rem;
  background-image: url("../images/hotelpattern.png");
  background-attachment: fixed;
  .block__title {
    margin-top: 0;
  }
  //any interior hotel widget block
  .not-front & {
    padding: 0 0 28px;
    padding: 0 0 1.75rem;
    background-image: none;
  }
}
