.billboards-small {}
.billboards-small-list {
  @include container-fallback($width-container, $width-container-px-fallback);
  padding: 0;
  list-style: none;
  text-align: center;
  .billboards-small-list-item {
    display: inline-block;
    @include rem-fallback(margin, 0, 0.5rem, 1.25rem);
  }
}
.billboard-small-container, .billboard-small-link, .billboard-small-shelf {
  @include rem-fallback(width, 13.75rem);
  @include rem-fallback(height, 13.75rem);
}
.billboard-small-container {
  overflow: hidden;
  &:hover {
    .billboard-small-shelf {
      @include rem-fallback(margin-top, -13.75rem);
      background-color: $red;
      background-color: $red-mask;
      &:after {
        margin-left: 0;
      }
    }
  }
}
.billboard-small-link {
  position: absolute; // prevent Safari drifting box bug
  display: block;
  overflow: hidden;
}
.billboard-small-shelf {
  position: relative;
  @include rem-fallback(margin-top, -4.6875rem);
  @include rem-fallback(padding, 0.75rem, 1rem);
  background-color: $blue;
  background-color: $blue-mask;
  text-align: left;
  @include transition(margin-top $duration-transition-extended ease-out, background-color $duration-transition-extended ease-out);
  &:after {
    position: absolute;
    @include rem-fallback(margin-left, -2.25rem);
    @include rem-fallback(bottom, 0.25rem);
    @include FontAwesome(1.5rem, white);
    content: "\f178";
    @include single-transition(margin-left, $duration-transition-extended, ease-out, $duration-transition);
  }
}
.billboard-small-title {
  @include rem-fallback(margin, 0, 0, 1rem);
  border-bottom-color: white;
  border: {
    bottom: 1px solid rgba(white, 0.3);
  }
  @include rem-fallback(padding, 0);
  @include rem-fallback(height, 4.25rem);
  font-size: rem-fallback(1.5rem);
  @include font-details($size: 1.5rem, $color: white, $height: normal);
}
.billboard-small-body {
  font-size: rem-fallback(0.875rem);
  @include font-details($size: 0.875rem, $color: white, $height: 1.4);
  p {
    margin: 0;
    font-size: rem-fallback(0.875rem);
    @include font-details($size: 0.875rem, $height: 1.4);
  }
}
