.sessions-events.birds-of-a-feather {
    //styles for the birds of a feather view
    h3 {
        font-weight:bold;
        font-size: 1.125rem; 
        line-height: 1.5rem;
        color: $black;
    }

    p {
        margin: 1rem 0rem; 
    }

    .b-top-btn {
        a {
            display: inline-block;
            background: $blue; 
            color:#fff;
            padding:1rem 2rem;
            transition: background 0.5s ease;

            &:hover {
                background: #a60735; 
            }
        } 
    }

    .organizer {
        display: block;
    }

    .conference-date-header {
        border-top: 1px solid;
        margin-top: 3rem;
        padding-top: 2.5rem;
    }

    .views-row {
        margin-bottom: 3rem;
    }

    .date-location {
        color:#999; 
        visibility: hidden; //hiding the location

        .session-date {
            visibility: visible; //but displaying the date
            //probably use display block here when the location is made visible, to display on seperate lines
            //probably need to figure out how to remove the pipe character also
        }
    }

}

.birds-of-a-feather-day-links {
    margin-top: 2.35rem;

    h2 {
        font-size:1.3125rem; 
    }

    ul {
        padding-left: 0; 
        margin-top:-0.5rem;
    }

    li {
        list-style:none;
        margin-bottom: 0;
        font-size:1.1rem;
    }
}
