.site-name {
  float: left;
  margin: 0;
}
.site-name-link {
  @extend .ir;
  display: block;
  margin: 0;
  @include rem-fallback(width, 23.625rem);
  @include rem-fallback(height, 6.1875rem);
  background-image: url("../images/siggraph-logo.png");
}
@media (-webkit-min-device-pixel-ratio: 1.3),
  (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 13/10),
  (min-resolution: 1.3dppx) {
  .site-name-link {
    background-image: url("../images/siggraph-logo@2x.png");
    @include rem-fallback(background-size, 23.625rem, 6.1875rem);
  }
}
