.breadcrumb {
  width: 50%;
  float: left;
  font-size: rem-fallback(0.875rem);
  @include font-details($size: 0.875rem, $weight: 300);
  .active {
    @include font-details($color: $blue, $weight: 500);
    &:hover {
      color: $orange;
    }
  }
}
.breadcrumb-delimiter {
  @include rem-fallback(margin, 0, 0.3125rem);
}
.empty-breadcrumb {
  display: none;
}
