.button-play-video {
  @include rem-fallback(height, 4.4375rem);

  display: block;
  overflow: hidden;
  background: $blue;
  text-align: center;

  &:before {
    @extend .fa-play-circle-o;
    @include rem-fallback(padding-top, 1.25rem);
    @include font-details($size: 32px, $color: white);
    font-size: 2rem;

    display: block;
    height: 150%;
  }
}
