.download-pdf-wrap {
    padding: 2rem !important;

    .left {
        float:left; 
        max-width:20%;
        padding-left:2rem;
        font-size:3rem;
    }

    .right {
        float: right; 
        padding-right: 2rem;
        strong {
            display:block;
        }
    }

    .clear {
        clear:both; 
    }

    a, a:link, a:visited {
        color: $gray; 
    }

    a.icon-link {
        color: $blue;
        &:hover {
            color: $red; 
        }
    }
}
