.block-views-media-gallery-list {
  width: 110px;
  float: left;
}

.block-views-media-gallery-main {
  margin-right: 2px;
  margin-right: 0.125rem;
  width: 570px;
  float: left;
}

.media-gallery-lg-image, .gallery-media-thumb {
  width: 110px;
  height: 71px;
}

.gallery-media-thumb {
  margin-bottom: 2px;
  margin-bottom: 0.125rem;
  opacity: 0.5;
}

.media-gallery-list-item {
  .gallery-caption {
    display: none;
    visibility: hidden;
  }
}

.media-gallery-main {
  .media-gallery-lg-image {
    width: 570px;
    height: 363px;
  }
}

.active-media {
  opacity: 1;
}

.button-play-video {
  display: block;
  background: $blue;
  text-align: center;
  @include font-details(0, transparent);
  &:before {
    content: "\f01d";
    display: block;
    color: #fff;
    line-height: 71px;
    @include rem-fallback(font-size, 2.0rem);
  }
}
