.social-navigation {
  .menu {
    margin: 0;
    padding: {
      left: 0;
    }
  }
  .leaf {
    display: inline;
  }
  .menu-link {
    @include rem-fallback(margin, 0, 0.5rem);
    &.fa-google-plus {
      @include rem-fallback(margin-right, 0.125rem);
    }
  }
}
.social-navigation-link {
  @include font-details(0, transparent);
  &:before {
    @include rem-fallback(font-size, 1.75rem);
    @include transition(color $duration-transition ease-out);
  }
}

.search-block-form input[type=submit] {
  &:hover {
    background-color: white;
  }
}
