// container <div>
.l-region--navigation {
  background-color: $blue;
  height: 60px;
}

// navigation <nav>
.primary-navigation {
  margin: 0 auto;
  .menu {
    margin: 0;
    padding: {
      left: 0;
    }
    text-align: center;
  }
  .menu-link {
    @include font-details($color: white, $weight: 300);
  }
}

// list items <li>
.primary-navigation-expanded-top, .primary-navigation-leaf-top {
  display: inline-block;
  height: 60px;
  &:hover {
    background-color: $blue-dark-menu;
  }
}
.primary-navigation-expanded-top {
  .menu {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: $blue-dark-menu;
    .menu-link {
      @include font-details($size: 0.75em);
      &:hover {
        color: $orange;
      }
    }
    .menu {
      position: relative;
    }
    .expanded {
      width: 25%;
      float: left;
    }
  }
  &:hover {
    .menu {
      display: block;
    }
  }
}
.primary-navigation-home {
  position: absolute;
  .fa-home {
    @include font-details($size: 0, $color: transparent, $height: 0);
    &:before {
      @include font-details($size: 24px, $color: white, $height: 60px);
      @include single-transition(color, $duration, ease-out);
    }
    &:hover, &.active, &.active-trail {
      &:before {
        color: $yellow;
      }
    }
  }
}
.primary-navigation-for-submitters {
  margin: {
    left: 72px;
  }
}
.primary-navigation-for-volunteers {
  .menu {
    .menu {
      display: none;
    }
  }
}

// links <a>
.primary-navigation-menu-link-top {
  display: block;
  padding: 0 25px;
  @include font-details($height: 60px);
  &:hover, &.active, &.active-trail {
    color: $yellow;
  }
}
