// container <div>
.l-region--navigation {
  background-color: $blue;
  @include rem-fallback(height, 3.75rem);
}

// navigation <nav>
.primary-navigation {
  .menu {
    margin: 0;
    padding: {
      left: 0;
    }
  }
  .menu-level-1 {
    > .menu {
      @include container-fallback($width-container, $width-container-px-fallback);
      // text-align: center;
    }
  }
  .menu-link {
    @include font-details($color: white, $weight: 300);
  }
}

// list items <li>
.primary-navigation-expanded-top, .primary-navigation-leaf-top {
  float: left;
  @include rem-fallback(height, 3.75rem);
  &:hover {
    background-color: $blue-dark-menu;
  }
}
.primary-navigation-expanded-top {
  @include rem-fallback(top, -0.25rem);
  > .menu-link {
    &:after {
      position: absolute;
      display: block;
      content: '';
      right: 0;
      width: 100%;
      height: 0;
      z-index: 1;
      background-color: $blue-dark-menu;
      @include single-transition(height, $duration-transition, ease-out, $duration-transition);
    }
  }
  > .menu {
    position: absolute;
    display: block;
    @include rem-fallback(padding, 2rem, 0);
    @include rem-fallback(width, $width-container);
    height: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    @include single-transition(opacity, $duration-transition-extended, ease-out);
    .menu-link {
      @include rem-fallback(font-size, 0.75rem);
      font-weight: 500;
      &:hover {
        color: $orange;
      }
    }
    .leaf, .collapsed {
      @include rem-fallback(margin-bottom, 0.75rem);
    }
    .expanded {
      @include span(3 of 12);
      &:nth-child(4) {
        @include span(last 3 of 12);
      }
    }
  }
  &:hover {
    > .menu-link {
      &:after {
        @include rem-fallback(height, map_get($dropdown-height, default));
        @include transition-delay(0ms);
      }
    }
    > .menu {
      @include rem-fallback(height, map_get($dropdown-height, default));
      opacity: 1;
      z-index: 2;
    }
  }
}
.primary-navigation-home {
  .fa-home {
    @include rem-fallback(font-size, 1.5rem);
  }
  .menu-link-emphasized {
    display: none;
  }
}
.primary-navigation-for-submitters {
  > .menu {
    @include rem-fallback(margin-left, -4.5rem);
  }
  &:hover {
    > .menu-link {
      &:after {
        @include rem-fallback(height, map_get($dropdown-height, submitters));
      }
    }
    > .menu {
      @include rem-fallback(height, map_get($dropdown-height, submitters));
    }
  }
}
.primary-navigation-for-volunteers {
  > .menu {
    @include rem-fallback(margin-left, -14.5rem);
  }
}
.primary-navigation-for-attendees {
  > .menu {
    @include rem-fallback(margin-left, -24.4375rem);
  }
  &:hover {
    > .menu-link {
      &:after {
        @include rem-fallback(height, map_get($dropdown-height, attendees));
      }
    }
    > .menu {
      @include rem-fallback(height, map_get($dropdown-height, attendees));
    }
  }
}
.primary-navigation-for-the-media {
  > .menu {
    @include rem-fallback(margin-left, -34.0625rem);
  }
}
.primary-navigation-for-exhibitors-advertisers {
  > .menu {
    @include rem-fallback(margin-left, -43.3125rem);
  }
}

// links <a>
.primary-navigation-menu-link-top {
  display: block;
  @include rem-fallback(padding, 0, 1.5625rem);
  @include rem-fallback(line-height, 3.75rem);
  &:hover, &.active, &.active-trail {
    color: $yellow;
  }
}
