.menu {
  .collapsed, .expanded, .leaf {
    list-style: none;
  }
}
.collapsed, .expanded, .leaf {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/**
 * Patch for exhibitors-advertisers/table-contents, a couple random menu items are showing as
 * expanded, even though they are set to be closed. 
 * @rdarling
 **/

.menu-mlid-1057, .menu-mlid-1061 {
    margin-bottom: 1.25rem;
}
