.primary-sub-navigation {
  border: {
    top: 1px solid $gray-rule;
  }
  .block__title {
    @include rem-fallback(margin, 1rem, 0);
    font-size: rem-fallback(1.3125rem);
    @include font-details(1.3125rem);
  }
  .menu-level-1 {
    border: {
      top: 1px solid $blue-rule;
    }
    @include rem-fallback(padding, 0, 0.625rem, 0.625rem, 0.9375rem);
    background-color: $blue-light-menu;
    @include font-details($weight: 500);
    > .menu {
      > .first {
        display: none;
      }
    }
  }
  .menu {
    margin: 0;
    @include rem-fallback(padding, 1.25rem, 0, 0);
    .menu {
      padding: 0;
      @include font-details($size: 0.875em); // do not use rem
      .menu {
        @include rem-fallback(padding, 1.25rem, 0, 0, 0.625rem);
        @include font-details($weight: 400);
      }
    }
  }
  .collapsed, .expanded, .leaf {}
  .leaf, .collapsed {
    @include rem-fallback(margin-bottom, 1.25rem);
  }
  .menu-link {}
  .active, .menu-link:hover {
    color: $red;
  }
}

.primary-sub-navigation-for-attendees {
  .menu-level-1 {
    border: {
      top: none;
    }
    padding: 0;
    background-color: transparent;
    > .menu {
      padding: 0;
      .menu {
        @include rem-fallback(padding, 1.25rem, 0.625rem, 0.625rem, 0.9375rem);
        background-color: $blue-light-menu;
      }
    }
  }
  .menu {
    .menu {
      .menu {
        padding-bottom: 0;
      }
    }
  }
  .primary-navigation-programs-events, .primary-navigation-attendees-col-3, .primary-navigation-information-planning {
    &.active-trail {
      + .menu {
        display: block;
      }
    }
    + .menu {
      display: none;
    }
  }
  .primary-navigation-programs-events, .primary-navigation-information-planning {
    @extend .fa-plus-circle;
    display: block;
    @include rem-fallback(margin, 0.25rem, 0);
    @include rem-fallback(padding, 0, 0.625rem, 0, 0.9375rem);
    background-color: $blue-menu;
    line-height: rem-fallback(3.75rem);
    @include font-details($color: $blue, $height: 3.75rem);
    @include transition(color $duration-transition ease-out, background-color $duration-transition ease-out);
    cursor: pointer;
    &:before {
      float: right;
      font-size: rem-fallback(1.3125rem);
      line-height: rem-fallback(3.75rem);
      @include font-details($size: 1.3125rem, $color: white, $height: 3.75rem, $family: FontAwesome);
    }
    &:hover {
      background-color: $blue-light-menu;
    }
    &.active-trail {
      @extend .fa-minus-circle;
      background-color: $blue-light-menu;
    }
  }
  .primary-navigation-programs-events {
    + .menu {
      padding-bottom: 0 !important;
      > .last {
        margin-bottom: 0;
        @include rem-fallback(padding-bottom, 1.25rem);
      }
    }
  }
  .primary-navigation-attendees-col-3 {
    + .menu {
      padding-top: 0 !important;
    }
  }
}
