.social-navigation {
  .menu {
    margin: 0;
    padding: {
      left: 0;
    }
  }
  .leaf {
    display: inline;
  }
  .menu-link {
    margin: 0 8px;
    &.fa-google-plus {
      margin: {
        right: 2px;
      }
    }
  }
}
.social-navigation-link {
  @include font-details(0, transparent);
  &:before {
    font-size: 28px;
    @include single-transition(color, $duration, ease-out);
  }
}
