.block--quicktabs-tabs {}
.quicktabs-tabs {
  @extend .clearfix;

  margin: 0;
  padding: 0;
  li {
    padding: 0 !important;
  }
  a {
    @include transition(background-color $duration-transition ease-out);
    @include rem-fallback(padding, 1);

    float: left;
    color: $black;
  }
  .active .active, a:hover {
    background-color: $gray-tab;
    color: $black;
  }
}
.quicktabs_main {
  @include rem-fallback(padding, 1);

  background-color: $gray-tab;
}
