.l-branding {
  background-color: $blue;
  &:after {
    display: block;
    content: '';
    margin: 0 auto;
    height: 54px;
    background-image: url('../images/header-pattern-3.png');
  }
}
.front {
  .l-branding {
    &:before, &:after {
      display: block;
      content: '';
      margin: 0 auto;
      height: 153px;
    }
    &:before {
      background-image: url('../images/header-pattern-1.png');
    }
    &:after {
      background-image: url('../images/header-pattern-2.png');
    }
  }
}
.l-branding-bar {
  @include container($width-container);
  padding: 25px 0;
  height: 150px;
}
.l-region--branding {
  float: right;
  display: table;
  margin: 20px 0;
  height: 60px;
  .block {
    display: table-cell;
    vertical-align: middle;
    @include font-details(1.3125em, white, 300);
  }
}
