.l-branding {
  background-color: $blue;
  &:after {
    display: block;
    content: '';
    @include rem-fallback(height, 3.375rem);
    background-image: url('../images/header-pattern-3.png');
  }
}
.front {
  .l-branding {
    &:before, &:after {
      display: block;
      content: '';
      @include rem-fallback(height, 9.5625rem);
    }
    &:before {
      background-image: url('../images/header-pattern-1.png');
    }
    &:after {
      background-image: url('../images/header-pattern-2.png');
    }
  }
}
.l-branding-bar {
  @include container-fallback($width-container, $width-container-em-fallback);
  @include rem-fallback(padding, 1.5625rem, 0);
  @include rem-fallback(height, 9.375rem);
}
.l-region--branding {
  float: right;
  display: table;
  @include rem-fallback(margin, 1.25rem, 0);
  @include rem-fallback(height, 3.75rem);
  .block {
    display: table-cell;
    vertical-align: middle;
    @include font-details(1.3125em, white, 300);
  }
}
