.site-search {
  .form-text {
    position: absolute;
    margin: {
      top: -2px;
      left: 0;
    }
    border: none;
    width: 0;
    height: 35px;
    background: {
      image: none !important;
    };
    @include transition(width $duration ease-out, margin-left $duration ease-out);
    // @include single-transition(margin-left, $duration, ease-out);
  }
  .form-submit {
    margin: 0 5px;
    padding: 0;
    border: none;
    background: {
      color: transparent;
    };
    @include font-details($size: 1.75em, $color: $blue, $family: 'FontAwesome');
    @include single-transition(color, $duration, ease-out);
    &:hover {
      color: $orange;
    }
  }
  &.expanded {
    .form-text {
      margin: {
        left: -200px;
      }
      width: 200px;
    }
  }
}
