.site-search {
  .form-text {
    z-index: 1;
    position: absolute;
    @include rem-fallback(margin, -0.125rem, 0, 0);
    border: none !important;
    @include rem-fallback(padding, 0.125rem, 2.5rem, 0.0625rem, 0.625rem);
    width: 0;
    @include rem-fallback(height, 2.1875rem);
    background: {
      image: none !important;
    };
    font-size: rem-fallback(0.875rem);
    @include font-details(0.875rem, $blue);
    @include transition(width $duration-transition ease-out, margin-left $duration-transition ease-out);
    @include input-placeholder {
      color: $orange;
    }
  }
  .form-submit {
    z-index: 2;
    position: relative;
    padding: 0;
    border: none;
    @include rem-fallback(width, 1.75rem);
    background: {
      color: transparent;
    };
    font-size: rem-fallback(1.75rem);
    @include font-details($size: 1.75rem, $color: $blue, $family: 'FontAwesome');
    @include single-transition(color, $duration-transition, ease-out);
  }
  &.expanded, &:hover {
    .form-text {
      @include rem-fallback(margin-left, -13.125rem);
      @include rem-fallback(width, 15rem);
    }
    .form-submit {
      color: $orange;
    }
  }
}
