.tabs--primary {
  margin: {
    bottom: 0;
  }
  border: {
    bottom: none;
  }
  a {
    @include rem-fallback(padding, 0.4rem, 0.8rem, 0.1rem);
    background-color: $gray-tab;
    @include single-transition(background-color, $duration-transition, ease-out);
    &.active, &:hover {
      color: $yellow;
      background-color: $gray-rule;
    }
  }
  li {
    float: none;
    display: inline-block;
    margin: {
      bottom: 0;
    }
  }
}

.node-type-page, .node-type-for-submitters, .node-type-for-attendees {
  .tabs--primary {
    li {
      float: left;
    }
  }
}
