.l-top {
  @extend .clearfix;
  margin: 0 auto;
  width: 960px;
  height: 70px;
  color: $blue;
  .site-slogan, .conference-location, .social-navigation {
    float: left;
  }
  .site-slogan, .conference-location {
    @include font-details(0.875em, $blue, 400);
  }
  .site-slogan {
    margin: 0;
    width: 330px;
  }
  .conference-location {
    width: 125px;
  }
  .social-navigation-link {
    &:before {
      color: $blue;
    }
    &:hover {
      &:before {
        color: $orange;
      }
    }
  }
}
