.l-footer {
  padding: {
    top: 100px;
  }
  height: 325px;
  background-color: $blue;
}
.l-footer-regions {
  @include container($width-container);
  .l-region {
    @include span(1 of 3);
  }
  .l-region--footer-connecting {
    @include span(1 at 3 of 3);
  }
}
.l-region--footer-branding {
  .social-navigation-link {
    &:before {
      color: white;
    }
    &:hover {
      &:before {
        color: $yellow;
      }
    }
  }
}
.l-region--footer-connecting {

}
.footer-connecting-link {
  @include font-details(1.25em, white, 300);
  &:hover{
    color: $yellow;
  }
}
