.l-footer {
  @include rem-fallback(padding-top, 6.25rem);
  @include rem-fallback(height, 20.3125rem);
  background-color: $blue;
}
.l-footer-regions {
  @include container-fallback($width-container, $width-container-em-fallback);
  .l-region {
    @include span(1 of 3);
  }
  .l-region--footer-connecting {
    @include span(1 at 3 of 3);
  }
}
.l-region--footer-branding, .l-region--footer-connecting {
  .block {
    &:first-child {
      @include rem-fallback(margin-bottom, 2rem);
      border-bottom: 1px solid white;
      @include rem-fallback(padding-bottom, 2rem);
      @include rem-fallback(height, 3.875rem);
    }
  }
}
.l-region--footer-branding {
  .first {
    .social-navigation-link {
      margin: {
        left: 0;
      }
    }
  }
  .social-navigation-link {
    &:before {
      color: white;
    }
    &:hover {
      &:before {
        color: $yellow;
      }
    }
  }
}
.l-region--footer-connecting {

}
.footer-connecting-link {
  @include font-details(1.25em, white, 300);
  &:hover{
    color: $yellow;
  }
}
