// site colors
$black: #666666;
$blue: #5889b5;
$gray: #88898c;
$gray-light: #f4f4f4;
$orange: #fbb37b;
$red: #a80532;
$yellow: #f6ed7a;

// navigation colors
$blue-menu: #bcccdf;
$blue-light-menu: #d7e1ed;
$blue-dark-menu: #4f7aa2;

// tab colors
$gray-tab: #f4f4f4;

// rule colors
$gray-rule: #a8a8aa;

// heading colors
$gray-heading: #88898c;

// masks
$black-mask: rgba($black, 0.8);
$blue-mask: rgba($blue, 0.8);
$orange-mask: rgba($orange, 0.8);
$red-mask: rgba($red, 0.8);
