
/**
 *   $$$$$$\  $$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\  $$\   $$\        $$$$$$\   $$$$$$\    $$\  $$$$$$$\
 *  $$  __$$\ \_$$  _|$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$ |  $$ |      $$  __$$\ $$$ __$$\ $$$$ | $$  ____|
 *  $$ /  \__|  $$ |  $$ /  \__|$$ /  \__|$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |      \__/  $$ |$$$$\ $$ |\_$$ | $$ |
 *  \$$$$$$\    $$ |  $$ |$$$$\ $$ |$$$$\ $$$$$$$  |$$$$$$$$ |$$$$$$$  |$$$$$$$$ |       $$$$$$  |$$\$$\$$ |  $$ | $$$$$$$\
 *   \____$$\   $$ |  $$ |\_$$ |$$ |\_$$ |$$  __$$< $$  __$$ |$$  ____/ $$  __$$ |      $$  ____/ $$ \$$$$ |  $$ | \_____$$\
 *  $$\   $$ |  $$ |  $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$ |      $$ |\$$$ |  $$ | $$\   $$ |
 *  \$$$$$$  |$$$$$$\ \$$$$$$  |\$$$$$$  |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$$$$$$$\ \$$$$$$  /$$$$$$\\$$$$$$  |
 *   \______/ \______| \______/  \______/ \__|  \__|\__|  \__|\__|      \__|  \__|      \________| \______/ \______|\______/
 *
 *  $$\   $$\                     $$\
 *  $$ |  $$ |                    $$ |
 *  $$ |  $$ | $$$$$$\   $$$$$$$\ $$ |  $$\  $$$$$$$\
 *  $$$$$$$$ | \____$$\ $$  _____|$$ | $$  |$$  _____|
 *  $$  __$$ | $$$$$$$ |$$ /      $$$$$$  / \$$$$$$\
 *  $$ |  $$ |$$  __$$ |$$ |      $$  _$$<   \____$$\
 *  $$ |  $$ |\$$$$$$$ |\$$$$$$$\ $$ | \$$\ $$$$$$$  |
 *  \__|  \__| \_______| \_______|\__|  \__|\_______/
 *
 */
/*
  Sass/Compass Generated Stylesheet for SIGGRAPH 2015 -- https://github.com/qltd/s2015

  - compile while in theme directory (sites/all/themes/s2015/.npm)           : gulp compass
  - watch for changes while in theme directory (sites/all/themes/s2015/.npm) : gulp watch
*/

// provide proper margin when admin menu is present
body {
  &.adminimal-menu {
    margin: {
      top: 29px !important;
    }
  }
}

//make sidebar exactly 220px to match ad image sizes
//.node-type-page {
//}

.l-region.l-region--sidebar {
    width: 220px;
}

.bluebtn {
    background:#5889b5;
    &:hover {
        background:#a80532;
    }
}

.content-block-heading-fl {
    margin-bottom:0;
}

.content-block-content-fl {
    margin-top: 0;
}

.cbc-fl-small {
    font-size:14px; 
}

.content-table-styled-fl {
    .new {
       color:#fbb37b;  
       font-size:12px;
    }
}

.content-list-styled-fl {
    padding-left:0;
    margin-top:0;
    li { 
        list-style:none; 
        margin-bottom:0.2rem;
    }
}

.header-content-link-wrap-fl {
    padding-bottom: 1rem;
    font-size:16px;
}

.content-table-styled-fl {
    font-size:14px;

    hr {
        margin: 2rem 0; 
    }
}

.social-media-in-body {
    padding-left:0;
    padding-top:1rem;
    li {
        list-style:none; 
        display:inline;
        color: #5889b5;
        margin: 0rem 0.5rem;
        a {
            color: #5889b5;
            &:link, &:visited {
                color: #5889b5;
            }
            &:hover {
               color: #fbb37b; 
            }
        
        }

        &:hover {
           color: #fbb37b; 
        }
    }
}

.header-link-target {
    margin: -1rem 0;
}

.node-type-event {
    h2.emerging-technology-title {
        border-top: none;
        padding-top: 0.5rem;
    }
}

.block--views-sessions-and-events-block-7 {
    div.body-wrapper.clearfix {
        border-top:none; 
    }
}
