.fa-certificate {
  .support-recognition-level & {
    font-size: 48px;
    font-size: 3rem;
  }
  .platinum & {
    color: #949b93;
  }
  .gold & {
    color: #bb8637;
  }
  .silver & {
    color: #8a8c8e;
  }
  .bronze & {
    color: #a06c46;
  }
}
