.support-recognition-container {
  margin: {
    bottom: 20px;
    bottom: 1.25rem;
  }
  padding: 24px 24px 24px 0;
  padding: 1.5rem 1.5rem 1.5rem 0;
  display: table;
  width: 695px;
  width: 43.4375rem;
  background: #e7eef4;
  background: rgba($blue, 0.15);
}
