.support-recognition-level {
  display: table-cell;
  vertical-align: middle;
  width: 275px;
  width: 17.1875rem;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  p {
    margin: 0;
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 1;
  }
}
