/**
 *   $$$$$$\  $$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\  $$\   $$\        $$$$$$\   $$$$$$\    $$\  $$$$$$$\
 *  $$  __$$\ \_$$  _|$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$ |  $$ |      $$  __$$\ $$$ __$$\ $$$$ | $$  ____|
 *  $$ /  \__|  $$ |  $$ /  \__|$$ /  \__|$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |      \__/  $$ |$$$$\ $$ |\_$$ | $$ |
 *  \$$$$$$\    $$ |  $$ |$$$$\ $$ |$$$$\ $$$$$$$  |$$$$$$$$ |$$$$$$$  |$$$$$$$$ |       $$$$$$  |$$\$$\$$ |  $$ | $$$$$$$\
 *   \____$$\   $$ |  $$ |\_$$ |$$ |\_$$ |$$  __$$< $$  __$$ |$$  ____/ $$  __$$ |      $$  ____/ $$ \$$$$ |  $$ | \_____$$\
 *  $$\   $$ |  $$ |  $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$ |      $$ |\$$$ |  $$ | $$\   $$ |
 *  \$$$$$$  |$$$$$$\ \$$$$$$  |\$$$$$$  |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$$$$$$$\ \$$$$$$  /$$$$$$\$$$$$$  |
 *   \______/ \______| \______/  \______/ \__|  \__|\__|  \__|\__|      \__|  \__|      \________| \______/ \______|\______/
 *
 *  $$\   $$\                     $$\
 *  $$ |  $$ |                    $$ |
 *  $$ |  $$ | $$$$$$\   $$$$$$$\ $$ |  $$\  $$$$$$$\
 *  $$$$$$$$ | \____$$\ $$  _____|$$ | $$  |$$  _____|
 *  $$  __$$ | $$$$$$$ |$$ /      $$$$$$  / \$$$$$$\
 *  $$ |  $$ |$$  __$$ |$$ |      $$  _$$<   \____$$\
 *  $$ |  $$ |\$$$$$$$ |\$$$$$$$\ $$ | \$$\ $$$$$$$  |
 *  \__|  \__| \_______| \_______|\__|  \__|\_______/
 *
 */
/*
  Sass/Compass Generated Stylesheet for SIGGRAPH 2015 -- https://github.com/qltd/s2015

  - compile while in theme directory (sites/all/themes/s2015/.npm)           : gulp compass
  - watch for changes while in theme directory (sites/all/themes/s2015/.npm) : gulp watch
*/
body.adminimal-menu {
  margin-top: 29px !important; }

.l-region.l-region--sidebar {
  width: 220px; }

.bluebtn {
  background: #5889b5; }
  .bluebtn:hover {
    background: #a80532; }

.content-block-heading-fl {
  margin-bottom: 0; }

.content-block-content-fl {
  margin-top: 0; }

.cbc-fl-small {
  font-size: 14px; }

.content-table-styled-fl .new {
  color: #fbb37b;
  font-size: 12px; }

.content-list-styled-fl {
  padding-left: 0;
  margin-top: 0; }
  .content-list-styled-fl li {
    list-style: none;
    margin-bottom: 0.2rem; }

.header-content-link-wrap-fl {
  padding-bottom: 1rem;
  font-size: 16px; }

.content-table-styled-fl {
  font-size: 14px; }
  .content-table-styled-fl hr {
    margin: 2rem 0; }

.social-media-in-body {
  padding-left: 0;
  padding-top: 1rem; }
  .social-media-in-body li {
    list-style: none;
    display: inline;
    color: #5889b5;
    margin: 0rem 0.5rem; }
    .social-media-in-body li a {
      color: #5889b5; }
      .social-media-in-body li a:link, .social-media-in-body li a:visited {
        color: #5889b5; }
      .social-media-in-body li a:hover {
        color: #fbb37b; }
    .social-media-in-body li:hover {
      color: #fbb37b; }

.header-link-target {
  margin: -1rem 0; }

.node-type-event h2.emerging-technology-title {
  border-top: none;
  padding-top: 0.5rem; }

.block--views-sessions-and-events-block-7 div.body-wrapper.clearfix {
  border-top: none; }

.view-art-gallery-event-details h2, .view-art-gallery-event-details .body-wrapper {
  border: none !important; }
.view-art-gallery-event-details .body-wrapper {
  margin-top: 0 !important; }
.view-art-gallery-event-details .affiliation-wrapper, .view-art-gallery-event-details .affiliation-wrapper p {
  font-size: 14px; }

.for-att-3-col-table.art-gallery-table .second-col strong {
  color: #88898c; }
.for-att-3-col-table.art-gallery-table tr:first-child td:nth-child(2) {
  padding-left: 1.5rem; }

.section-attendees .l-content #block-views-sessions-and-events-block-11 .view-sessions-and-events .event-image img {
  height: auto; }

.affiliation-wrapper p {
  font-size: 14px; }

.imported-content-p > a {
  display: inline-block;
  margin-top: 1rem; }

.for-att-3-col-table .time-list {
  margin-top: 0;
  padding-left: 0; }
  .for-att-3-col-table .time-list li {
    font-size: 14px;
    list-style: outside none none;
    margin-bottom: 0; }
.for-att-3-col-table .heads-up {
  background-color: inherit;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: top; }
  .for-att-3-col-table .heads-up th {
    background-color: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    vertical-align: top;
    padding-bottom: 5px; }
    .for-att-3-col-table .heads-up th h3 {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.5rem;
      margin-top: 0; }

.real-time-live-event h2 {
  border: none !important; }
.real-time-live-event .body-wrapper {
  border: none !important; }

.sessions-events.studio-courses .imported-content-p, .sessions-events.educator-symposium .imported-content-p {
  margin-top: 0; }

.corporate-sponsors {
  background: #E9EAEA; }
  .corporate-sponsors li {
    display: inline-block;
    list-style: none;
    padding: 0 5px; }
  .corporate-sponsors ul {
    margin-bottom: 0; }

.front .l-main {
  padding-bottom: 0; }

.appy-hour .views-row-1.views-row-first {
  display: none; }

/*# sourceMappingURL=s2015.hacks.css.map */
