/**
 *   $$$$$$\  $$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\  $$\   $$\        $$$$$$\   $$$$$$\    $$\  $$$$$$$\
 *  $$  __$$\ \_$$  _|$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$ |  $$ |      $$  __$$\ $$$ __$$\ $$$$ | $$  ____|
 *  $$ /  \__|  $$ |  $$ /  \__|$$ /  \__|$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |      \__/  $$ |$$$$\ $$ |\_$$ | $$ |
 *  \$$$$$$\    $$ |  $$ |$$$$\ $$ |$$$$\ $$$$$$$  |$$$$$$$$ |$$$$$$$  |$$$$$$$$ |       $$$$$$  |$$\$$\$$ |  $$ | $$$$$$$\
 *   \____$$\   $$ |  $$ |\_$$ |$$ |\_$$ |$$  __$$< $$  __$$ |$$  ____/ $$  __$$ |      $$  ____/ $$ \$$$$ |  $$ | \_____$$\
 *  $$\   $$ |  $$ |  $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$ |      $$ |\$$$ |  $$ | $$\   $$ |
 *  \$$$$$$  |$$$$$$\ \$$$$$$  |\$$$$$$  |$$ |  $$ |$$ |  $$ |$$ |      $$ |  $$ |      $$$$$$$$\ \$$$$$$  /$$$$$$\$$$$$$  |
 *   \______/ \______| \______/  \______/ \__|  \__|\__|  \__|\__|      \__|  \__|      \________| \______/ \______|\______/
 *
 *  $$\    $$$$$$$$\ $$$$$$$$\    $$$$$$\ $$$$$$$$\  $$$$$$\
 *  $$ |   \__$$  __|$$  _____|   \_$$  _|$$  _____|$$  __$$\
 *  $$ |      $$ |   $$ |           $$ |  $$ |      $$ /  $$ |
 *  $$ |      $$ |   $$$$$\ $$$$$$\ $$ |  $$$$$\     $$$$$$  |
 *  $$ |      $$ |   $$  __|\______|$$ |  $$  __|   $$  __$$<
 *  $$ |      $$ |   $$ |           $$ |  $$ |      $$ /  $$ |
 *  $$$$$$$$\ $$ |   $$$$$$$$\    $$$$$$\ $$$$$$$$\ \$$$$$$  |
 *  \________|\__|   \________|   \______|\________| \______/
 *
 */
/*
  Sass/Compass Generated Stylesheet for SIGGRAPH 2015 -- https://github.com/qltd/s2015

  - compile while in theme directory (sites/all/themes/s2015/.npm)           : gulp compass
  - watch for changes while in theme directory (sites/all/themes/s2015/.npm) : gulp watch
*/
/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/
/*---------------------------------------------------------------------*\

  1. LIBRARIES..................Stylesheet Related Resources
   a. App Libraries............App Specific Variables and Mixins
  2. BASE STYLES................Basic and Elemental Styles
  3. COMPONENTS.................Reusable Utilities and Content

\*---------------------------------------------------------------------*/
/*------------------------------------*\
    LIBRARIES
\*------------------------------------*/
/*--App Libraries--*/
@font-face {
  font-family: 'Swiss-Light';
  src: url("../fonts/272616_0_0.eot");
  src: url("../fonts/272616_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/272616_0_0.woff") format("woff"), url("../fonts/272616_0_0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Swiss-Roman';
  src: url("../fonts/272616_1_0.eot");
  src: url("../fonts/272616_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/272616_1_0.woff") format("woff"), url("../fonts/272616_1_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Swiss-Medium';
  src: url("../fonts/272616_3_0.eot");
  src: url("../fonts/272616_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/272616_3_0.woff") format("woff"), url("../fonts/272616_3_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Swiss-Bold';
  src: url("../fonts/272616_2_0.eot");
  src: url("../fonts/272616_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/272616_2_0.woff") format("woff"), url("../fonts/272616_2_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
/*------------------------------------*\
    BASE STYLES
\*------------------------------------*/
body {
  font-family: "Swiss-Roman", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

b, strong {
  font-family: "Swiss-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
.branding-xroads-of-discovery {
  white-space: nowrap; }

.breadcrumb {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .breadcrumb .active {
    font-family: "Swiss-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button {
  font-family: "Swiss-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.footer-sponsored-by-acmsiggraph .sponsored-by-acmsiggraph-link {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.countdown-pie {
  background-color: transparent;
  background-image: url("../images/front-pie.png"); }

.front-twitter-link {
  font-family: "Swiss-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.footer-navigation .menu-link {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.primary-navigation-content-block .primary-navigation-content-title {
  font-family: "Swiss-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.primary-sub-navigation .menu-level-1 {
  font-family: "Swiss-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.primary-sub-navigation .menu .menu .menu {
  font-family: "Swiss-Roman", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.primary-navigation .menu-level-1 > .menu {
  position: relative;
  z-index: 20;
  max-width: 1020px; }
.primary-navigation .menu-link {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.primary-navigation-expanded-top:hover > .menu {
  z-index: 10; }

.primary-navigation-menu-link-top {
  padding: 0 20px;
  padding: 0 1.25rem; }

.l-region--branding .block {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.l-top .site-slogan, .l-top .conference-location {
  font-family: "Swiss-Roman", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.title-line-tooltip .block__title {
  font-family: "Swiss-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.title-line-tooltip-subheading {
  font-family: "Swiss-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.title-line-tooltip-paragraph {
  font-family: "Swiss-Roman", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.footer-connecting-link {
  font-family: "Swiss-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.flexslider .slides > li {
  display: block; }

.view-slider {
  width: 1342px;
  height: 500px;
  overflow: hidden; }

/*# sourceMappingURL=s2015.lte-ie8.css.map */
